/* about_hero */
.page_hero{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../imgs/hero-bg/bg_2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 70px 70px;
}

.page_hero div {
    width: 50%;
}

.page_hero div h1{
    font-size: 40px;
    font-weight: 500;
    color: var(--quaternary-color);
    line-height: 1.5;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.page_hero div p{
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-text-color);
}

@media (max-width: 900px) {
    .page_hero{
        padding: 20px 20px 50px;
    }

    .page_hero div{
        width: 70%;
    }
}

@media (max-width: 500px) {
    .page_hero div{
        width: 100%;
    }

    .page_hero div p{
        font-size: 15px;
        text-align: justify;
    }
}
/* end */

/* about_container */
.about_container .about_us{
    margin-top: 0px;
}

/* services_wrapper */
.services_wrapper .services{
    margin-top: 40px;
}

.service_advantages{
    width: 100%;
    padding: 30px 70px 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.service_advantages div{
    width: 50%;
}

.service_advantages div p{
    line-height: 2;
}

.service_advantages ul{
    width: 30%;
}

.service_advantages ul h2{
    font-size: 22px;
    text-transform: capitalize;
    color: var(--tertiary-color);
    margin-bottom: 15px;
}

.service_advantages ul li{
    list-style: none;
    line-height: 2;
    display: flex;
    gap: 20px;
    align-items: center;
}

.service_advantages ul li span{
    color: var(--primary-color);
}

@media (max-width: 900px) {
    .service_advantages{
        width: 100%;
        padding: 30px 20px;
        flex-wrap: wrap;
    }
    
    .service_advantages div{
        width: 60%;
        margin-bottom: 20px;
    }
    
    .service_advantages ul{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .service_advantages div{
        width: 100%;
    }
}
/* end */


/* team_members */
.team_members {
    padding: 70px;
}

.team_members .sub_heading,
.team_members .main_heading{
    text-align: center;
}

.team_members .team_row{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.team_members .team_row .team_col{
    width: 23%;
    height: 440px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 24px 48px -13px #0000000d;
    transition: .4s ease-in-out;
}

.team_members .team_row .team_col .team_img{
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.team_members .team_row .team_col .team_img img{
    width: 100%;
    height: 300px;
    display: block;
    transition: .3s ease;
}

.team_members .team_row .team_col .team_img .team_socials{
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    bottom: -50px;
    left: 20%;
    transition: .5s;
    opacity: 0;
}

.team_members .team_row .team_col .team_img .team_socials a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-size: 14px;
    text-decoration: none;
    transition: .5s ease;
}

.team_members .team_row .team_col .team_img .team_socials a:hover{
    background-color: var(--tertiary-color);
}

.team_members .team_row .team_col .about_team_member{
    padding: 15px;
    text-align: center;
}

.team_members .team_row .team_col .about_team_member .member{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--quinary-color);
    margin-bottom: 5px;
    transition: .4s;
}

.team_members .team_row .team_col .about_team_member .member_position{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
    letter-spacing: 1px;
    display: block;
    margin-bottom: 10px;
}

.team_members .team_row .team_col:hover{
    box-shadow: var(--primary-shadow);
}

.team_members .team_row .team_col:hover .team_img img{
    transform: scale(1.1);
}

.team_members .team_row .team_col:hover .team_img .team_socials {
    bottom: 20px;
    opacity: 1;
}

.team_members .team_row .team_col:hover .about_team_member .member {
    color: var(--secondary-color);
}

@media (max-width: 900px) {
    .team_members {
        padding: 20px;
    }
    
    .team_members .team_row{
        justify-content: space-around;
    }
    
    .team_members .team_row .team_col{
        width: 39%;
    }
    
    .team_members .team_row .team_col .team_img .team_socials{
        bottom: 20px;
        opacity: 1;
    }
}

@media (max-width: 500px) {
    .team_members .team_row .team_col{
        width: 80%;
        height: auto;
        margin: 0 auto 30px;
    }
}

@media (max-width: 345px) {
    .team_members .team_row .team_col{
        width: 90%;
    }
}
/* end */


/* projects */
.done_projects {
    padding: 0px 70px;
}

.done_projects .projects_row {
    flex-wrap: wrap;
}

.done_projects .project_col {
    width: 32%;
    margin-bottom: 30px;
}

.done_projects .project_col .project_img{
    object-fit: cover;
}

@media (max-width: 900px) {
    .done_projects {
        padding: 0px 20px;
    }

    .done_projects .project_col {
        width: 48%;
    }
}

@media (max-width: 500px) {
    .done_projects .project_col {
        width: 100%;
    }
}
/* end */

/* contact_form_container */
.contact_form_container{
    background-color: var(--secondary-bg-color);
    padding: 70px;
}

.contact_form_container .form_wrapper{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--quaternary-color);
    box-shadow: var(--primary-shadow);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact_form_container .form_wrapper .contact_form_col{
    height: 100%;
}

.contact_form_container .form_wrapper .contact_form_col:first-child{
    width: 55%;
    padding: 30px;
}

.contact_form_container .form_wrapper .contact_form_col h2{
    color: var(--quinary-color);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
}

.contact_form_container .form_wrapper .contact_form_col:first-child input,
.contact_form_container .form_wrapper .contact_form_col:first-child textarea{
    display: block;
    border: 1px solid var(--secondary-text-color);
    height: 45px;
    font-family: "Poppins", sans-serif;
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--secondary-text-color);
    width: 100%;
    background-color: transparent;
    margin-bottom: 30px;
    outline: none;
}

.contact_form_container .form_wrapper .contact_form_col:first-child input:focus,
.contact_form_container .form_wrapper .contact_form_col:first-child textarea:focus{
    border: 1px solid var(--secondary-color);
}

.contact_form_container .form_wrapper .contact_form_col:first-child .form_inputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.contact_form_container .form_wrapper .contact_form_col:first-child .form_inputs input{
    width: 48%;
    margin-bottom: 0;
}

.contact_form_container .form_wrapper .contact_form_col:first-child textarea{
    height: 150px;
}

.contact_form_container .form_wrapper .contact_form_col:first-child button{
    display: block;
    padding: 12px 25px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    border: 2px solid transparent;
    transition: .2s;
}

.contact_form_container .form_wrapper .contact_form_col:first-child button:hover{
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    color: var(--secondary-color);
}

.contact_form_container .form_wrapper .contact_form_col:last-child{
    background-color: var(--secondary-color);
    padding: 30px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_form_container .form_wrapper .contact_form_col:last-child h2{
    color: var(--quaternary-color);
    margin-bottom: 30px;
}

.contact_form_container .form_wrapper .contact_form_col:last-child .contact_info {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}

.contact_form_container .form_wrapper .contact_form_col:last-child .contact_info .contact_icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--quaternary-color);
}

.contact_form_container .form_wrapper .contact_form_col:last-child .contact_info .contact_info_Text {
    width: 80%;
}

.contact_form_container .form_wrapper .contact_form_col:last-child .contact_info .contact_info_Text p {
    margin-bottom: 0;
    color: var(--quaternary-color);
}

.contact_form_container .form_wrapper .contact_form_col:last-child .contact_info .contact_info_Text p span {
    font-weight: 600;
}

.contact_form_container .form_wrapper .contact_form_col:last-child .contact_info .contact_info_Text p a {
    color: var(--quaternary-color);
    text-decoration: none;
    transition: .4s;
}

.contact_form_container .form_wrapper .contact_form_col:last-child .contact_info .contact_info_Text p a:hover {
    color: var(--primary-color);
}

@media (max-width: 900px) {
    .contact_form_container{
        padding: 20px;
    }

    .contact_form_container .form_wrapper{
        width: 100%;
        height: 120vh;
    }

    .contact_form_container .form_wrapper .contact_form_col:last-child{
        padding: 20px;
    }

    .contact_form_container .form_wrapper .contact_form_col:last-child .contact_info {
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .contact_form_container{
        padding: 20px;
    }

    .contact_form_container .form_wrapper{
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .contact_form_container .form_wrapper .contact_form_col:first-child{
        height: auto;
        width: 100%;
        padding: 20px;
    }
    
    .contact_form_container .form_wrapper .contact_form_col:last-child{
        width: 100%;
        height: auto;
    }
}

