:root{
    --primary-color: #064acb;
    --secondary-color: #f79f24;
    --tertiary-color: #202020;
    --quaternary-color: #fff;
    --quinary-color: #000009;
    --primary-text-color: #ffffffb3;
    --secondary-text-color: #808080;
    --primary-bg-color: #ffffff1a;
    --secondary-bg-color: #f8f9fd ;
    --primary-shadow: 0px 10px 30px -4px #00000026;
    --secondary-shadow: 0px 9px 21px -16px #00000026;
    --text-shadow: 0px 3px 25px rgba(0, 0, 0, 0.102);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--quaternary-color);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}


p{
    line-height: 1.7;
    margin-bottom: 10px;
    color: var(--secondary-text-color);
}

.aside_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    background-color: var(--tertiary-color);
}

.aside_content .aside_col:first-child{
    width: 25%;
}

.aside_content .aside_col:first-child .logo, .small_screen_nav .small_screen_logo, footer .footer_col .logo{
    font-size: 22px;
    font-weight: 800;
    color: var(--quaternary-color);
    text-decoration: none;
    transition: .6s;
}

.aside_content .aside_col:first-child a:hover, .small_screen_nav .small_screen_logo:hover, footer .footer_col .logo:hover{
    color: var(--secondary-color);
}

.aside_content .aside_col:first-child a span, .small_screen_nav .small_screen_logo span, footer .footer_col .logo span{
    color: var(--secondary-color);
}

.aside_content .aside_col:first-child a:hover span, .small_screen_nav .small_screen_logo:hover span{
    color: var(--quaternary-color);
}

.aside_content .aside_col:last-child{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside_content .aside_col:last-child .aside_info{
    width: 32%;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 12px;
}

.aside_content .aside_col:last-child .aside_info span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-size: 12px;
    border: 1px solid var(--secondary-color);
}

.aside_content .aside_col:last-child .aside_info div p:first-child{
    color: var(--secondary-text-color);
    text-transform: uppercase;
}

.aside_content .aside_col:last-child .aside_info div p:last-child{
    color: var(--primary-text-color);
}

.aside_content .aside_col:last-child .aside_info:last-child{
    width: auto;
    gap: 5px;
}

.aside_content .aside_col:last-child .aside_info:last-child a,
footer .footer_col .footer_icons a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    color: var(--quaternary-color);
    background-color: var(--primary-bg-color);
    transition: .6s;
}

.aside_content .aside_col:last-child .aside_info:last-child a:hover,
footer .footer_col .footer_icons a:hover{
    background-color: var(--secondary-color);
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    background-color: var(--quaternary-color);
    box-shadow: var(--primary-shadow);
}

header nav ul{
    display: flex;
    gap: 1px;
    align-items: center;
    list-style-type: none;
}

header nav ul li a{
    height: 50px;
    padding: 0 20px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--quinary-color);
    text-transform: uppercase;
    position: relative;
    transition: .6s;
    z-index: 1;
}

header nav ul li a::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    color: var(--quaternary-color);
    background-color: var(--secondary-color);
    top: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.4s ease-in-out;
    z-index: -1;
}

header nav ul li a:hover{
    color: var(--quaternary-color);
}

header nav ul li a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

header .search_box{
    width: 25%;
    height: 70%;
    background-color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color) !important;
    padding: 5px 15px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .search_box input{
    width: 85%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: block;
    color: var(--quinary-color);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    outline: none;
}

header .search_box span{
    font-size: 20px;
}

header .show_menu{
    display: none;
    color: var(--quaternary-color);
    font-size: 15px;
    transition: .6s;
    cursor: pointer;
} 

header .show_menu span{
    transition: .6s;
    color: var(--secondary-color);
} 

header .show_menu:hover{
    color: var(--secondary-color);
} 

header .show_menu:hover span{
    color: var(--quaternary-color);
} 

.small_screen_nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    display: none;
    background-color: var(--quinary-color);
    transition: .6s;
    z-index: 9999;
    overflow-y: scroll;
}

.small_screen_nav .small_screen_logo_container{
    padding: 10px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--tertiary-color);
}

.small_screen_nav .close_small_screen_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: var(--primary-bg-color);
    color: var(--quaternary-color);
    font-size: 18px;
    cursor: pointer;
    transition: .6s;
}

.small_screen_nav .close_small_screen_nav:hover{
    background-color: var(--secondary-color);
}

.small_screen_nav ul{
    padding: 0 30px;
}

.small_screen_nav ul li{
    line-height: 2.5;
    list-style-type: none;
    border-bottom: 1px solid var(--tertiary-color);
}

.small_screen_nav ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-text-color);
    padding: 3px;
    font-size: 14px;
    text-transform: capitalize;
}

.small_screen_nav ul li a span{
    color: var(--primary-text-color);
}

.small_screen_nav .small_screen_location{
    color: var(--primary-text-color);
    padding: 40px 30px;
    margin-top: 10px;
    text-transform: capitalize;
}

.small_screen_nav .small_screen_location h4{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--quaternary-color);
}

.small_screen_nav .small_screen_location p{
    margin-bottom: 8px;
}

.small_screen_nav .small_screen_location p a{
    color: var(--secondary-color);
    text-transform: lowercase;
    text-decoration: none;
}

.small_screen_nav .small_screen_location .small_screen_icons{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.small_screen_nav .small_screen_location .small_screen_icons a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--quaternary-color);
    background-color: var(--primary-bg-color);
}

@media (max-width: 900px){
    .aside_content{
        flex-direction: column;
        padding: 15px 20px;
    }

    .aside_content .aside_col:first-child{
        width: 100%;
        margin-bottom: 20px;
    }

    .aside_content .aside_col:last-child{
        width: 100%;
    }

    .aside_content .aside_col:last-child .aside_info{
        width: 30%;
        gap: 10px;
    }

    header{
        padding: 0 20px;
        background-color: var(--quinary-color);
    }

    header .show_menu{
        display: block;
    } 

    header nav{
        display: none;
    } 

    header .search_box{
        display: none;
    } 

    header .show_menu{
        display: block;
    } 
    
    .small_screen_nav{
        left: -1000px;
        display: block;
    }
}

@media (max-width: 500px) {
    .aside_content .aside_col:first-child{
        margin-bottom: 0px;
    }

    .aside_content .aside_col:last-child{
        display: none;
    }
}
/* end */

/* hero */
.hero_wrapper{
    width: 100%;
    height: 120vh;
    position: relative;
}

.hero_wrapper .hero_content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero_wrapper .hero_content .hero_slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.hero_wrapper .hero_content .first_hero_slide{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/hero-bg/bg_1.jpg);
}

.hero_wrapper .hero_content .sec_hero_slide{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/hero-bg/bg_2.jpg);
}

.hero_wrapper .hero_content .hero_slide.active {
    opacity: 1;
}

.hero_wrapper .hero_content .hero_slide p{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.hero_wrapper .hero_content .hero_slide h1{
    font-size: 40px;
    font-weight: 800;
    color: var(--quaternary-color);
    margin-bottom: 20px;
}

.hero_wrapper .hero_content .hero_slide a{
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--quaternary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    border-radius: 4px;
    transition: .6s;
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid transparent;
}

.hero_wrapper .hero_content .hero_slide a:hover{
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    background-color: transparent;
}

.hero_wrapper .hero_pagination_dots{
    width: auto;
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    gap: 20px;
    align-items: center;
    gap: 10px;
}

.hero_wrapper .hero_pagination_dots span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--quaternary-color);
    cursor: pointer;
    transition: .6s;
    position: relative;
}

.hero_wrapper .hero_pagination_dots span::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--quaternary-color);
    transition: .6s;
    position: absolute;
    transform: scale(1.4);
    top: -1px;
    left: -1px;
}

.hero_wrapper .hero_pagination_dots span.active{
    background-color: var(--quaternary-color);
}

.hero_wrapper .book_an_appointment{
    width: 70%;
    height: 80px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -40px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
}

.hero_wrapper .book_an_appointment .appointment_col:first-child{
    width: 68%;
    height: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.hero_wrapper .book_an_appointment .appointment_col:first-child .appointment_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-bg-color);
}

.hero_wrapper .book_an_appointment .appointment_col:first-child .appointment_img img{
    width: 60%;
}

.hero_wrapper .book_an_appointment .appointment_col:first-child p{
    font-size: 18px;
    font-weight: 500;
    color: var(--quaternary-color);
}

.hero_wrapper .book_an_appointment .appointment_col:first-child p span{
    color: var(--primary-text-color);
}

.hero_wrapper .book_an_appointment .appointment_col:last-child{
    width: 30%;
    text-decoration: none;
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    transition: .6s;
    border-left: 1px solid transparent;
}

.hero_wrapper .book_an_appointment .appointment_col:last-child:hover{
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    border-color: var(--quaternary-color);
}

.hero_wrapper .book_an_appointment .appointment_col:last-child p{
    color: var(--quinary-color);
}

.hero_wrapper .book_an_appointment .appointment_col:last-child p:hover{
    color: var(--quaternary-color);
}


@media (max-width: 900px){
    .hero_wrapper{
        width: 100%;
        height: 90vh;
        position: relative;
    }

    .hero_wrapper .hero_content .hero_slide{
        padding: 20px ;
    }

    .hero_wrapper .hero_content .hero_texts {
        width: 50%;
    }

    .hero_wrapper .hero_content .hero_slide p{
        font-size: 15px;
        margin-bottom: 8px; 
        line-height: 1.2;
    }
    
    .hero_wrapper .hero_content .hero_slide h1{
        font-size: 30px;
        line-height: 1.2;
    }

    .hero_wrapper .hero_pagination_dots span{
        width: 12px;
        height: 12px
    }

    .hero_wrapper .book_an_appointment{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .hero_wrapper .hero_content .hero_texts {
        width: 100%;
    }
    
    .hero_wrapper .hero_content .hero_slide h1{
        font-size: 25px;
    }
    
    .hero_wrapper .book_an_appointment{
        flex-wrap: wrap;
        height: auto;
        padding-left: 0;
    }
    
    .hero_wrapper .book_an_appointment .appointment_col:first-child{
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .hero_wrapper .book_an_appointment .appointment_col:first-child p{
        font-size: 16px;
    }

    .hero_wrapper .book_an_appointment .appointment_col:last-child{
        width: 100%;
        height: 40px;
    }
}
/* end */

/* services section */
.services{
    margin-top: 100px;
    padding: 20px 70px;
}

.sub_heading {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--secondary-color);
}

.main_heading{
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--tertiary-color);
}

.services .main_heading, .services .sub_heading{
    text-align: center;
}
.services .services_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.services .services_container .service_col{
    width: 32%;
    margin-bottom: 40px;
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.services .services_container .service_col .service_img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: var(--primary-shadow);
}

.services .services_container .service_col .service_img img{
    width: 55%;
}

.services .services_container .service_col .service_text{
    width: 75%;
}

.services .services_container .service_col .service_text h3{
    font-size: 20px;
    color: var(--tertiary-color);
    margin-bottom: 12px;
    text-transform: capitalize;
}

.services .services_container .service_col .service_text a{
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    font-size: 13px;
    font-weight: 600;
    color: var(--quinary-color);
    display: inline-block;
    position: relative;
    transition: .6s;
}

.services .services_container .service_col .service_text a::after{
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    border-radius: 10px;
    background-color: var(--quinary-color);
    transition: .6s;
    bottom: 0;
    left: 0;
}

.services .services_container .service_col .service_text a:hover{
    color: var(--primary-color);
}

.services .services_container .service_col .service_text a:hover::after{
    background-color: var(--primary-color);
}

@media (max-width: 900px) {
    .services{
        margin-top: 80px;
        padding: 20px;
    }
    
    .services .services_container .service_col{
        width: 48%;
    }
    
    .services .services_container .service_col .service_img{
        width: 60px;
        height: 60px;
    }
    
    .services .services_container .service_col .service_img img{
        width: 60%;
    }
    
    .services .services_container .service_col .service_text h3{
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .services .services_container .service_col{
        width: 100%;
    }
}
/* end */

/* about_us */
.about_us{
    width: 100%;
    padding: 0 70px;
    margin-top: 80px;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_us .about_us_col{
    width: 48%;
}

.about_us .about_us_col:first-child img{
    width: 100%;
}

.about_us .about_us_col:last-child .main_heading{
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: lowercase;
}

.about_us .about_us_col:last-child .core_statement_container{
    margin-top: 30px;
    width: 100%;
}

.about_us .about_us_col:last-child .core_statement_container .core_statement_filter_btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_us .about_us_col:last-child .core_statement_container .core_statement_filter_btns span{
    display: block;
    width: 32%;
    padding: 10px 15px;
    text-align: center;
    color: var(--quinary-color);
    text-transform: capitalize;
    font-weight: 600;
    background-color: var(--quaternary-color);
    border-radius: 4px;
    box-shadow: var(--secondary-shadow);
    cursor: pointer;
    transition: .6s;
}

.about_us .about_us_col:last-child .core_statement_container .core_statement_filter_btns span.active_statement_btn{
    color: var(--quaternary-color);
    background-color: var(--primary-color);
}

.about_us .about_us_col:last-child .core_statement_container .core_statement_filter_btns span:hover{
    color: var(--quaternary-color);
    background-color: var(--primary-color);
}

.about_us .about_us_col:last-child .core_statement_container .core_statement_filter_btns span.active_statement_btn:hover{
    background-color: var(--secondary-color);
}

.about_us .about_us_col:last-child .core_statement_container .core_statements_wrapper{
    width: 100%;
    margin-top: 20px;
}

.about_us .about_us_col:last-child .core_statement_container .core_statements_wrapper .core_statements{
    width: 100%;
    padding: 20px;
    background-color: var(--quaternary-color);
    border-radius: 4px;
    box-shadow: var(--secondary-shadow);
    opacity: 0;
    display: none;
    transition: .6s;
}

@media (max-width: 900px) {
    .about_us{
        padding: 0 20px;
        flex-wrap: wrap;
    }
    
    .about_us .about_us_col{
        width: 100%;
    }
    
    .about_us .about_us_col:first-child{
        width: 50%;
        margin: 20px auto;
    }
    
    .about_us .about_us_col:first-child img{
        width: 100%;
    }
    
    .about_us .about_us_col:last-child .main_heading{
        margin-bottom: 20px;
        line-height: 1.2;
        text-transform: lowercase;
    }
    
    .about_us .about_us_col:last-child .core_statement_container{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .about_us .about_us_col:first-child{
        width: 100%;
    }

    .about_us .about_us_col:last-child .main_heading{
        font-size: 20px;
    }

    .about_us .about_us_col:last-child p{
        text-align: justify;
    }

    .about_us .about_us_col:last-child .core_statement_container .core_statement_filter_btns{
        flex-wrap: wrap;   
    }
    
    .about_us .about_us_col:last-child .core_statement_container .core_statement_filter_btns span{
        width: 100%;
        margin-bottom: 10px;
    }
}
/* end */

/* counter_wrapper */
.counter_wrapper{
    width: 100%;
    padding: 30px 70px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter_wrapper .counter_container{
    width: 24%;
    text-align: center;
}

.counter_wrapper .counter_container h1{
    font-size: 35px;
    font-weight: 800;
    line-height: 1.5;
    color: var(--secondary-color);
}

.counter_wrapper .counter_container p{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-text-color);

}

@media (max-width: 900px) {
    .counter_wrapper{
        padding: 20px;
        flex-wrap: wrap;
    }
    
    .counter_wrapper .counter_container{
        width: 48%;
        margin-bottom: 10px;
    }
    
}

@media (max-width: 500px) {
    .counter_wrapper .counter_container{
        width: 100%;
    }
}
/* end */

/* consultation_wrapper */
.consultation_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
}

.consultation_wrapper .consultation_col{
    width: 48%;
}

.consultation_wrapper .consultation_col:first-child img{
    width: 100%;
    display: block;
}

.consultation_wrapper .consultation_col:last-child form{
    width: 85%;
}

.consultation_wrapper .consultation_col:last-child .sub_heading,
.consultation_wrapper .consultation_col:last-child .main_heading{
    color: var(--quinary-color);
}

.consultation_wrapper .consultation_col:last-child .main_heading{
    margin-bottom: 30px;
}

.consultation_wrapper .consultation_col:last-child select{
    width: 100%;
    display: block;
    background-color: var(--quaternary-color);
    height: 50px;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.consultation_wrapper .consultation_col:last-child .consultation_inputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.consultation_wrapper .consultation_col:last-child .consultation_inputs input{
    width: 48%;
    display: block;
    background-color: var(--quaternary-color);
    height: 50px;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    color: var(--tertiary-color);
}

.consultation_wrapper .consultation_col:last-child .date_time_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.consultation_wrapper .consultation_col:last-child .date_time_picker{
    width: 48%;
    background-color: var(--quaternary-color);
    height: 50px;
    border-radius: 4px;
}

.consultation_wrapper .consultation_col:last-child .date_time_picker .input_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.consultation_wrapper .consultation_col:last-child .date_time_picker .input_div input{
    width: 90%;
    padding: 5px 10px 5px 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
}

.consultation_wrapper .consultation_col:last-child .date_time_picker .input_div span{
    color: var(--secondary-text-color);
}

.consultation_wrapper .consultation_col:last-child .date_picker{
    position: relative;
}

.consultation_wrapper .consultation_col:last-child .date_picker .calendar,
.consultation_wrapper .consultation_col:last-child .time_picker .time_dropdown {
    position: absolute;
    width: auto;
    top: 100%;
    left: 0;
    background: var(--quaternary-color);
    border-radius: 4px;
    border: 1px solid var(--secondary-text-color);
    box-shadow: var(--primary-shadow);
    padding: 10px;
    display: none;
    z-index: 10;
    color: var(--tertiary-color);
    font-size: 13px;
}

.consultation_wrapper .consultation_col:last-child .date_picker .calendar .calendar_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.consultation_wrapper .consultation_col:last-child .date_picker .calendar .calendar_header .nextMonth, .consultation_wrapper .consultation_col:last-child .date_picker .calendar .calendar_header .prevMonth{
    cursor: pointer;
    transition: .6s;
}

.consultation_wrapper .consultation_col:last-child .date_picker .calendar .calendar_header .nextMonth:hover, .consultation_wrapper .consultation_col:last-child .date_picker .calendar .calendar_header .prevMonth:hover{
    color: var(--primary-color);
}

.consultation_wrapper .consultation_col:last-child .date_picker .calendar .calendar_days, .consultation_wrapper .consultation_col:last-child .date_picker .calendar .calendar_grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 5px;
}

.consultation_wrapper .consultation_col:last-child .date_picker .calendar .calendar_grid div{
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: .4s;
}

.consultation_wrapper .consultation_col:last-child .date_picker .calendar .calendar_grid div:hover{
    background-color: var(--primary-color);
    color: var(--quaternary-color);
}

.consultation_wrapper .consultation_col:last-child .date_picker .selected_date {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
}

.consultation_wrapper .consultation_col:last-child .time_picker {
    position: relative;
}

.consultation_wrapper .consultation_col:last-child .time_picker .time_dropdown {
    height: 200px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.consultation_wrapper .consultation_col:last-child .time_picker .time_dropdown::-webkit-scrollbar {
    width: 0;
    height: 0;
    margin: 0;
}

.consultation_wrapper .consultation_col:last-child .time_picker .time_option {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.consultation_wrapper .consultation_col:last-child .time_picker .time_option:hover {
    background: var(--primary-color);
    color: var(--quaternary-color);
}

.selected_time {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
}

.consultation_wrapper .consultation_col:last-child textarea{
    width: 100%;
    display: block;
    background-color: var(--quaternary-color);
    height: 100px;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    color: var(--tertiary-color);
    -ms-overflow-style: none;
}

.consultation_wrapper .consultation_col:last-child textarea::-webkit-scrollbar {
    width: 0;
    height: 0;
    margin: 0;
}

.consultation_wrapper .consultation_col:last-child button{
    width: 100%;
    display: block;
    background-color: var(--tertiary-color);
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 14px 10px;
    color: var(--quaternary-color);
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

@media (max-width: 900px) {
    .consultation_wrapper{
        justify-content: center;
        background-color: var(--secondary-color);
        background: linear-gradient( rgb(247, 159, 36, 0.6), rgb(247, 159, 36, 0.6)), url("../imgs/consultation/img-1.jpg");
        background-size: cover;
        background-position: center;
    }
    
    .consultation_wrapper .consultation_col{
        width: 80%;
    }
    
    .consultation_wrapper .consultation_col:first-child{
        display: none;
    }
    
    .consultation_wrapper .consultation_col:last-child form{
        width: 100%;
        padding: 50px 0;
    }
}

@media (max-width: 500px) {
    .consultation_wrapper{
        padding: 0 20px;
    }

    .consultation_wrapper .consultation_col{
        width: 100%;
    }

    .consultation_wrapper .consultation_col:last-child .consultation_inputs{
        flex-wrap: wrap;
    }
    
    .consultation_wrapper .consultation_col:last-child .consultation_inputs input{
        width: 100%;
        margin-bottom: 20px;
    }
     
    .consultation_wrapper .consultation_col:last-child .date_time_container{
        width: 100%;
        flex-wrap: wrap;
    }

    .consultation_wrapper .consultation_col:last-child .date_time_picker{
        width: 100%;
        margin-bottom: 20px;
    }

    .consultation_wrapper .consultation_col:last-child .date_time_picker:last-child,
    .consultation_wrapper .consultation_col:last-child .consultation_inputs input:last-child{
        margin-bottom: 0px;
    }
}
/* end */

/* testimonies */
.testimonies{
    max-width: 100vw;
    padding: 50px 0;
    height: auto;
    background-color: var(--secondary-bg-color);
}

.testimonies_wrapper{
    width: 90%;
    margin:  0 auto;
    padding: 20px 10px;
    overflow: hidden;
}

.testimonies_wrapper .sub_heading, .testimonies_wrapper .main_heading{
    text-align: center;
    color: var(--quinary-color);
}

.testimonies_wrapper .swiper-pagination{
    padding: 10px 0;
}

.testimonies_wrapper .swiper-pagination-bullet{
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background-color: var(--primary-color);
}

.testimonies_wrapper .swiper-pagination-bullet::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    transition: .6s;
    position: absolute;
    transform: scale(1.4);
    top: -1px;
    left: -1px;
}

.testimonies_wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}

.testimonies_row{
    margin: 50px 0;
}

.testimonies_col{
    user-select: none;
    display: block;
    background-color: var(--quaternary-color);
    border-radius: 5px;
    text-decoration: none;
    padding: 30px 20px;
    box-shadow: var(--secondary-shadow);
    transition: 0.2s ease;
    position: relative;
}

.testimonies_col:active{
    cursor: grabbing;
}

.testimonies_col:active{
    cursor: grabbing;
}

.testimonies_col .testimonies_quote{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
    font-size: 18px;
    position: absolute;
    top: -20px;
    left: 20px;
}

.testimonies_col .testimony{
    font-size: 14px;
}

.testimonies_col .client_info{
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.testimonies_col .client_info .client_img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.testimonies_col .client_info .client_img img{
    width: 100%;
    display: block;
}

.testimonies_col .client_info .client_text h3{
    font-size: 18px;
    font-weight: 500;
    color: var(--quinary-color);
    text-transform: capitalize;
}

.testimonies_col .client_info .client_text p{
    text-transform: capitalize;
}
/* end */

/* blog */
.blog{
    width: 100%;
    padding: 50px 70px;
    margin-top: 60px;
}

.blog .sub_heading, .blog .main_heading{
    text-align: center;
}

.blog .blog_row{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog .blog_col{
    width: 31%;
}

.blog .blog_col .blog_img{
    width: 100%;
    display: block;
}

.blog .blog_col .blog_img img{
    display: block;
    border-radius: 4px;
    width: 100%;
}

.blog .blog_col .blogger_info{
    margin: 10px 0;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.blog .blog_col .blogger_info .blogger_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.blog .blog_col .blogger_info .blogger_img img{
    width: 100%;
    display: block;
}

.blog .blog_col .blogger_info p{
    line-height: 1;
    margin-bottom: 8px;
}

.blog .blog_col .blogger_info p.blog_date{
    color: var(--primary-color);
}

.blog .blog_col .blog_title{
    display: block;
    font-size: 19px;
    font-weight: 500;
    color: var(--quinary-color);
    text-transform: capitalize;
    text-decoration: none;
    line-height: 1.2;
    transition: .5s;
    width: auto;
}

.blog .blog_col .blog_title:hover{
    color: var(--secondary-color);
}

.blog .go_to_blog{
    display: block;
    width: 200px;
    margin: 100px auto 0 !important;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    border-radius: 25px;
    padding: 10px 25px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
}

.blog .go_to_blog:hover{
    background-color: var(--quinary-color);
}


@media (max-width: 900px) {
    .blog{
        width: 100%;
        padding: 50px 20px;
        margin-top: 50px;
    }
    
    .blog .blog_row{
        flex-wrap: wrap;
    }
    
    .blog .blog_col{
        width: 48%;
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .blog .blog_col{
        width: 100%;
    }

    .blog .go_to_blog{
        display: block;
        width: 200px;
        margin: 30px auto 0 !important;
    }
}
/* end */


/* pricing */
.pricing{
    width: 100%;
    padding: 70px;
    margin-top: 30px;
    background-color: var(--secondary-bg-color);
}

.pricing .sub_heading, .pricing .main_heading{
    text-align: center;
}

.pricing .pricing_row{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing .pricing_col{
    width: 22%;
    padding: 40px 20px;
    background-color: var(--quaternary-color);
    border-radius: 4px;
    box-shadow: var(--secondary-shadow);
    transition: .6s;
    text-align: center;
}

.pricing .pricing_col span{
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.pricing .pricing_col span,
.pricing .pricing_col a{
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--quinary-color);
}

.pricing .pricing_col h3{
    font-size: 35px;
    line-height: 1;
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--primary-color);
}

.pricing .pricing_col h3 sup{
    font-size: 20px;
}

.pricing .pricing_col a{
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    color: var(--quaternary-color);
    text-decoration: none;
    border: 2px solid transparent;
    transition: .6s;
}

.pricing .pricing_col a:hover{
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

@media (max-width: 900px) {
    .pricing{
        padding: 50px 20px;
        margin-top: 20px;
    }
    
    .pricing .pricing_row{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    
    .pricing .pricing_col{
        width: 48%;
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .pricing .pricing_col{
        width: 100%;
    }
}
/* end */

/* projects */
.projects{
    width: 100%;
    padding: 70px 0;
    margin-top: 30px;
}

.projects .sub_heading, .projects .main_heading{
    text-align: center;
}

.projects .projects_row{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects .project_col{
    width: 25%;
    height: 230px;
    overflow: hidden;
    position: relative;
}

.projects .project_col .project_img{
    width: 100%;
    height: 100%;
}

.projects .project_col .over_lay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    opacity: 0;
    transition: .6s;
}

.projects .project_col .over_lay .project_about{
    width: 100%;
}

.projects .project_col .over_lay .enlarge_img{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 auto 20px;
}

.projects .project_col .over_lay .enlarge_img img{
    display: block;
}

.projects .project_col .over_lay span,
.projects .project_col .over_lay p{
    font-weight: 500;
    text-transform: capitalize;
}

.projects .project_col .over_lay span{
    font-size: 15px;
    color: var(--primary-text-color);
}

.projects .project_col .over_lay p{
    font-size: 18px;
    color: var(--quaternary-color);
}

.projects .project_col:hover .over_lay{
    opacity: 1;
}

.project_lightbox{
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.project_lightbox .lightbox_img{
    max-width: 80%;
    max-height: 70vh;
    display: block;
}

.project_lightbox .lightbox_controls{
    width: 30%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project_lightbox .lightbox_controls span{
    width: 32%;
    height: 50px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--quaternary-color);
    border-radius: 5px;
    transition: .6s;
    cursor: pointer;
}

.project_lightbox .lightbox_controls span:hover{
    background-color: var(--tertiary-color);
}

.project_lightbox .lightbox_controls span:nth-child(2):hover{
    background-color: red;
}

@media (max-width: 900px) {
    .projects{
        padding: 50px 20px;
        margin-top: 20px;
    }
    
    .projects .projects_row{
        flex-wrap: wrap;
    }
    
    .projects .project_col{
        width: 50%;
    }
}

@media (max-width: 500px) {
    .projects .project_col{
        width: 100%;
    }
}
/* end */


/* footer */
footer {
    width: 100%;
    padding: 70px;
    background-color: var(--tertiary-color);
}

footer .footer_row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .footer_row .footer_col{
    width: 23%;
}

footer .footer_row .footer_col .logo{
    display:  block;
    margin-bottom: 20px;
}

footer .footer_row .footer_col .footer_icons{
    display:  flex;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
}

footer .footer_row .footer_col h3{
    font-size: 20px;
    text-transform: capitalize;
    color: var(--quaternary-color);
    margin-bottom: 20px;
    font-weight: 500;
}

footer .footer_row .footer_col ul li{
    list-style: none;
    line-height: 2;
}

footer .footer_row .footer_col ul li a, footer .footer_row .footer_col ul li.location{
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    color: var(--quaternary-color);
    transition: .4s;
}

footer .footer_row .footer_col ul li a:hover{
    color: var(--secondary-color);
}

footer .footer_row .footer_col ul li.location{
    line-height: 1.2;
}

footer .footer_row .footer_col ul li.location span{
    padding-top: 4px;
}

footer .footer_row .footer_col ul li.location p{
    font-size: 14px;
}

footer .footer_row .footer_col:nth-child(3) ul li{
    margin-bottom: 10px;
}

footer .footer_row .footer_col:nth-child(3) ul li.email a{
    text-transform: lowercase;
}

footer .footer_row .footer_col:nth-child(4) .opening_days {
    margin-bottom: 20px;
}

footer .footer_row .footer_col:nth-child(4) span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--quaternary-color);
    display: block;
    margin-bottom: 10px;
}

footer .footer_row .footer_col:nth-child(4) p {
    color: var(--secondary-text-color);
    line-height: 1.2;
}

footer .footer_note {
    text-align: center;
    margin-top: 50px;
    color: var(--quaternary-color);
}

footer .footer_note a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    transition: .4s;
}

footer .footer_note a:hover{
    color: var(--secondary-color);
}

@media (max-width: 900px) {
    footer {
        padding: 50px 20px;
    }
    
    footer .footer_row{
        flex-wrap: wrap;
    }
    
    footer .footer_row .footer_col{
        width: 48%;
        margin-bottom: 40px;
    }
    
    footer .footer_row .footer_col:nth-child(2),
    footer .footer_row .footer_col:nth-child(4){
        width: 35%;
    }
    
    footer .footer_note {
        margin-top: 0px;
    }
}

@media (max-width: 500px) {
    footer .footer_row .footer_col {
        width: 100%;
    }

    footer .footer_row .footer_col:nth-child(2),
    footer .footer_row .footer_col:nth-child(4){
        width: 100%;
    }
}
/* end */